@font-face {
    font-family: "calibri";
    src: url("/fonts/Calibri-Light.ttf");
}

.center {
    margin: auto;
    text-align: center;
}

.music_player {
    cursor: pointer;
}

.container {
    width: 5px;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.expandall {
    font-size: 13px;
}