@font-face {
    font-family: "calibri";
    src: url("/fonts/Calibri-Light.ttf");
}

.widget {
    text-align: center;
    background-color: #f8f9fa;
    border-radius: 10px;
    width: 30%;
    margin: auto;
    height: 20%;
}

.center {
    margin: auto;
    text-align: center;
}

.music_player {
    cursor: pointer;
    margin: auto;
    text-align: center;
    width: 100%;
}

.container {
    width: 5px;
}

.box {
    width: 5px;
    text-align: center;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.expandall {
    font-size: 13px;
}

.launchBtn {
    display:inline-block;
    padding:0.3em 1.2em;
    cursor: pointer;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto', sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

.launchBtn:hover {
    border-color: black;
}

@media all and (max-width:30em) {
    .btn{
        display: block;
        margin: 0.2em auto;
    }
}

.details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

.summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

.details[open] {
    padding: .5em;
}

.details[open] .summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

.p {
    text-align: center;
    margin: auto;
}

.hr {
    width: 80%;
    text-align: center;
    margin: auto;
}

.weather {
    text-align: center;
    margin: auto;
    width: 430px;
}