@font-face {
    font-family: "calibri";
    src: url("/fonts/Calibri-Light.ttf");
}

@font-face {
  font-family: 'roboto';
  src: url("/fonts/Roboto-Light.ttf");
}

.round-time-bar {
    margin: 1rem;
    overflow: hidden;
  }
  .round-time-bar div {
    height: 7px;
    animation: roundtime calc(var(--duration) * 1s) steps(var(--duration))
      forwards;
    transform-origin: left center;
    background: linear-gradient(to bottom, #df6b55, #e0916f);
    border-radius: 8px;
  }
  
  .round-time-bar[data-style="smooth"] div {
    animation: roundtime calc(var(--duration) * 1s) linear forwards;
  }
  
  .round-time-bar[data-style="fixed"] div {
    width: calc(var(--duration) * 5%);
  }
  
  .round-time-bar[data-color="blue"] div {
    background: linear-gradient(to right, #1565c0, #9ac7bd);
  }
  
  @keyframes roundtime {
    to {
      /* More performant than `width` */
      transform: scaleX(0);
    }
  }

.center {
    margin: auto;
    text-align: center;
}

.music_player {
    cursor: pointer;
    margin: auto;
    text-align: center;
    width: 100%;
}

.container {
    width: 5px;
}

.box {
    width: 5px;
    text-align: center;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.expandall {
    font-size: 13px;
}

.launchBtn {
    display:inline-block;
    padding:0.3em 1.2em;
    cursor: pointer;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto', sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

.launchBtn:hover {
    border-color: black;
}

@media all and (max-width:30em) {
    .btn{
        display: block;
        margin: 0.2em auto;
    }
}

.details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

.summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

.details[open] {
    padding: .5em;
}

.details[open] .summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

.p {
    text-align: center;
    margin: auto;
}

.hr {
    width: 80%;
    text-align: center;
    margin: auto;
}

.widget {
    text-align: center;
    background-color: #f8f9fa;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    height: 30%;
}

.weather {
    text-align: center;
    margin: auto;
    width: 320px;
    border-radius: 10px;
}

.space {
    text-align: center;
    margin: auto;
    width: 370px;
    border-radius: 10px;
    background-color: white;
    color: white;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



#clock h2 {
  position: relative;
  display: block;
  color: #fff;
  text-align: center;
  margin: 10px 0;
  font-weight: 700;
  text-transform: 0.4em;
  font-size: 2em;
}

#clock #time {
  display: flex;
}

#clock #time div {
  border-radius: 10px;
}

#clock #time div span {
  position: relative;
  display: block;
  width: 100px;
  height: 80px;
  background: #2196f3;
  color: #fff;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  z-index: 10;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

#clock #time div span:nth-child(2) {
  height: 30px;
  font-size: 0.7em;
  letter-spacing: 0.2em;
  font-weight: 500;
  z-index: 9;
  box-shadow: none;
  background: #127fd6;
  text-transform: uppercase;
}

#clock #time div:nth-last-child(2) span {
  background: #ff006a;
}

#clock #time div:nth-last-child(2) span:nth-child(2) {
  background: #ec0062;
}

#clock #time div:nth-last-child(1) span {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 40px;
  font-size: 1.5em;
  background: #fff;
  color: #000;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}