.page-content {
    margin: auto;
    text-align: center;
}
#player {
    height: 60%;
    border-bottom: 2px solid orange;
    border-top: 2px solid orange;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    padding: 2%;
}

.overlay {
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 1;
}