@font-face {
    font-family: 'calibri';
    src: url("/fonts/Calibri-Light.ttf");
}

html, body {
    font-family: 'calibri';
    padding: 1em 2em;
    font-size: 18px;
    background-color: #222;
    color: #aaa;
}

h1, h2 {
    font-weight: 200;
    margin: 0.4em 0;
}

h1 { font-size: 3.5em; }
h2 {
    color: #888;
    font-size: 2em;
}

.page-content {
    text-align: center;
    margin: auto;
}

.btn {
    background-color: rgb(37, 96, 207);
    border: none;
    color: white;
    width: 10%;
    height: 7%;
    border-radius: 8px;
    transition: .2s ease-in-out;
    display: none;
}

.btn:hover {
    transition: .2s linear;
    width: 11%;
    height: 8%;
}