@font-face {
    font-family: "roboto";
    src: url("/fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: "calibri";
    src: url("/fonts/Calibri-Light.ttf");
}

.title {
    font-family: "roboto";
    text-align: center;
    line-height: 1.1;
}

.page_content {
    margin: auto;
    text-align: center;
}

.page_content_body {
    font-family: "roboto";
}

.download_btn {
    width: 50%;
    height: 100%;
    background-color:#456EFD;
    color: white;
    border-radius: 2px;
    border: none;
}

table td {
    text-align: center;
}