.numbered {
    text-align: left;
}

.page_content {
    margin: auto;
    text-align: center;
    width: 85%;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

@media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
}

.code {
    background-color: #f8f9fa;
    color: #c54382;
    
}